modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["bash", "-c", "NODE_ENV=production node --enable-source-maps artifacts/api-server/dist/index.mjs"]
build = ["bash", "-c", "node artifacts/api-server/build.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "K&S Solar App"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 NODE_ENV=development node artifacts/api-server/build.mjs && PORT=8080 NODE_ENV=development node --enable-source-maps artifacts/api-server/dist/index.mjs"
waitForPort = 8080

[[workflows.workflow]]
name = "K&S Solar App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/ks-solar && EXPO_PACKAGER_PROXY_URL=https://$REPLIT_EXPO_DEV_DOMAIN EXPO_PUBLIC_DOMAIN=$REPLIT_DEV_DOMAIN EXPO_PUBLIC_REPL_ID=$REPL_ID REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN PORT=5000 EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoieW91c2FmNDMiLCJhIjoiY21xaGtvZTcyMGJ2ODJxcW51ZWdxcmt5cSJ9.wtxo5gOcB5PB7kljp-INNw node /home/runner/workspace/node_modules/.pnpm/@expo+cli@54.0.23_expo-router@6.0.24_expo@54.0.35_graphql@16.8.1_react-native@0.81.5_@b_7a1c8b885ab85dbff0396108d122d203/node_modules/@expo/cli/build/bin/cli start --localhost --port 5000"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 25115
externalPort = 3000

[[ports]]
localPort = 25116
externalPort = 3002

[nix]
packages = ["nano"]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_TOKEN = "1v8k6n8PCDjJxs5rXmbGLUAmXEFNUum2zZ0gselS"
EXPO_PUBLIC_MAPBOX_TOKEN = "pk.eyJ1IjoieW91c2FmNDMiLCJhIjoiY21xaGtvZTcyMGJ2ODJxcW51ZWdxcmt5cSJ9.wtxo5gOcB5PB7kljp-INNw"
ADMIN_EMAIL = "knssolarenergy@gmail.com"
ADMIN_PASSWORD = "@Knssolar43"
